{% extends "auctions/layout.html" %}

{% block body %}
    
<div class="container"> 
    <section class="mb-5">
        <div class="row">
            
            
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="col-12 mb-0">
                    <figure class="view overlay rounded z-depth-1 main-img">
                        {% if listing.image %}
                        <img src="{{ listing.image }}" class="img-fluid z-depth-1" style="transform-origin: center center; transform: scale(1);" > 
                        {% endif %}
                    </figure>
                </div>
            </div>
     
            <div class="col-md-6">
                <div class="row justify-content-between mx-0">
                

                 <h4>{{ listing.title }}</h4>

                 {% if listing.seller == user and listing.active %}

                 <form method="POST" action="{% url 'close_auction' listing.id %}" class="form-inline mx-3">
                     {% csrf_token %}
                     <input class="btn btn-danger" type="submit" value="close auction"/>
 
                 </form>
 
                 {% endif %}
 

                

                </div>

                

                <p class="mb-2 text-muted text-uppercase medium">{{ listing.category }}</p>
                
                

                    <h5>Current Price:</h5>
                    <h4>£ {{ listing.price }}</h4>


               

            
                
  <!--Error Messages-->
                

                {% if messages %}

                  {% for message in messages %}

                    <div class="alert alert-info" role="alert">{{ message }}</div> 

                  {% endfor %}

                {% endif %}



<!--bid and watch-->           
            
                <form method="POST" action="{% url 'bid' listing.id %}" class="form-inline">
                    {% csrf_token %}

                    
                <div class="form-group sm-3 mb-2 mt-3">
                    {{ form }} 
            
                  <input class="btn btn-primary mx-3" type="submit" value="Place Bid"/>
                </div> 
                
                </form>

                <form method="POST" action="{% url 'watchlist_add' listing.id %}" class="pull-right">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Watch"/>

                </form>


<!--Winning Bid section-->


{% if listing.active == False %}

 {% if winner is None %}
 {% if listing.seller  == user %}
    <p>There were no Bids on your listing</p>
  {% else %}
    <p>This Auction has ended </p>
  {% endif %}

  
{% elif winner is not None %}

  {% if listing.seller == user %}
    <p>Your item has sold to {{ winner }}</p>

  {% elif winner == user %}
    <p>You have won this auction!</p>

  {% else %}
    <p>This item has sold to {{ winner }}</p>  

  {% endif %}

  {% endif %}

{% endif %}





            </div>      
        </div>
    </section>


  

    <section class ="mb-5">
        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="col-12 mb-0">
                    <h5>Product Details</h5>
                    <p class="pt-1" >{{ listing.description }}</p>

                </div>
                
            </div>

            <div class="col-md-6">
                
                <p class="mb-2 text-muted text-sentencecas small">Listed by: {{ listing.seller }}</p> 
                <p class="mb-2 text-muted text-sentencecase small">Listed: {{ listing.date_listed }}</p> 
                

            </div>



        </div>




    </section>



<!--comments section-->



<section class ="mb-5">

    <div class="row">

    {% for comment in comments %}

        <div class="container mt-2 mb-2">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10">
                    <div class="card text-left">
                        <h5 class="card-header h5">{{ comment.user }}</h5>
                        <div class="card-body>">
                            <p class="lead px-3 mb-3 mt-3 ">{{ comment.comment }}</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    {% endfor %}

        
        

    </div>




    
</section>



  <!--add comments section-->

        <section class ="mb-5">

            <div class="row d-flex justify-content-center">
                
                <div class="col-md-10">
        
                    <form method="POST" action="{% url 'comment' listing.id %}">

                        

                            {% csrf_token %}

                            <div class="form-group">

                               {{ add_comment }}

                            </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                        
                           <input class="btn btn-primary" type="submit" value="Submit"/>

                        </div>

                        </div>
    
                    </form>

                      
                </div>

            </div>
            
        </section>








    
</div>
        

{% endblock %}