{% extends "auctions/layout.html" %}

{% block body %}
    
<div class="container"> 

    <h3>{{ listing.title }}</h3>

    <h5>Product Details</h5>

   <p>Listed by {{ listing.seller }}</p> 

    <p>{{ listing.description }}</p>

    <h4>£ {{ listing.price }}</h4>


    
    {% if listing.image %}

    <img src="{{ listing.image }}" class="rounded float-left" >
    

    {% endif %}



    <a href="{% url 'watchlist_add' listing.id %}" class="btn btn-primary">Watch</a>


    <form method="POST" action="{% url 'bid' listing.id %}" class="form-inline">
        {% csrf_token %}
        <div class="form-group col-md-3">
            {{ form }}

        </div>
            <input class="btn btn-primary" type="submit" value="Place Bid" />
        
    </form>

{% endblock %}